ol {
    color: #FFF;
    text-align: left;
    padding: 0 40px;
}
img {
    width: 100%;
    margin: 10px auto;
}
p {
    -moz-text-align-last: left !important; /* Code for Firefox */
    text-align-last: left !important;
}